.eng-main-menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #000;
}

.eng-main-menu button{
    margin-right: 5px;
}

.eng-main-menu button i{
    margin-right: 5px;
}

.eng{
    margin-bottom: 5px;
}

.eng-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
}

.eng-wrap .eng-input{
    margin: 5px;
    background: #000;
    border: 1px solid #555;
    color: #fff;
    border-radius: 2px;
    padding: 10px;
}

.eng-wrap .eng-input::placeholder {
    color: #888;
}

.eng-wrap .eng-header{
    display: flex;
    justify-content: space-between;
    background: #0095ff;
    align-items: center;
    padding: 5px 0;
}

.eng-wrap .eng-header .eng-header-title{
    color:#fff;
    padding: 0 5px;
    font-weight: 700;
}

.eng-wrap .eng-header .eng-menu{
    display: flex;
    padding: 0 5px;
}

.eng-wrap .eng-header .eng-menu label{
    margin-right: 5px;
    min-width: inherit;
}

.eng-wrap .eng-header .eng-menu select{
    flex:1;
    margin-right: 5px;
    min-width: 100px;
}

.eng-wrap .eng-header .eng-menu .eng-toggle{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
}

.eng-wrap .eng-header .eng-menu .eng-toggle:hover{
    opacity: 1;
}