:root{
    --eng-tab-bg:#07263B;
    --eng-tab-color:#218791;
    --eng-tab-hover-bg:#218791;
    --eng-tab-hover-color:#0B3049;
    --eng-tab-active-bg:#218791;
    --eng-tab-active-color:#0B3049;

    --eng-tab-content-bg:#071824;
    --eng-tab-scroll-width:5px;
    --eng-tab-scroll-bg:transparent;
    --eng-tab-scroll-color:rgba(255,255,255,0.35);
    --eng-tab-scroll-hover-color:rgba(255,255,255,0.6);

    --eng-tab-header-bg:#333;
    --eng-tab-header-color:#fff;
}

.social-eng-block{
    display: flex;
    flex-direction: column;
    width: 25vw;
    position: relative;
    transform: translateX(-25vw);
}

.social.right .social-eng-block{
    transform: translateX(25vw);
}

.social-eng-block.active, .social.right .social-eng-block.active{
    transform: translateX(0);
}

.social-eng-block .social-eng-tabs{
    display: flex;
}

.social-eng-block .social-eng-tabs .social-eng-tab{
    background:var(--eng-tab-bg);
    color:var(--eng-tab-color);
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.social-eng-block .social-eng-tabs .social-eng-tab:hover{
    background:var(--eng-tab-hover-bg);
    color:var(--eng-tab-hover-color);
}

.social-eng-block .social-eng-tabs .social-eng-tab.active{
    background:var(--eng-tab-active-bg);
    color:var(--eng-tab-active-color);
}

.social-eng-block .social-eng-tab-content {
    display: flex;
    flex: 1;
    background-color: var(--eng-tab-content-bg);
    flex-direction: column;
    overflow: hidden;
}

.social-eng-block .social-eng-tab-content .social-eng-tab-items{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex:1;
}

.scroll{
    overflow: auto;
}

.scroll::-webkit-scrollbar {
    all:unset;
}

.scroll::-webkit-scrollbar {
    width: var(--eng-tab-scroll-width);
}

.scroll::-webkit-scrollbar-track {
    background: var(--eng-tab-scroll-bg);
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--eng-tab-scroll-color);
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--eng-tab-scroll-hover-color);
}

.social-eng-block .social-eng-tab-content .social-eng-tab-header{
    background-color: var(--eng-tab-header-bg);
    display: flex;
    flex-direction: column;
}

.social-eng-block .social-eng-tab-content .social-eng-tab-header .social-eng-tab-header-text{
    color:var(--eng-tab-header-color);
    padding: 0.5em;
}

.social-eng-block .social-eng-tab-content .social-eng-tab-header .social-eng-tab-header-media{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.social-eng-block .social-eng-toggle{
    position: absolute;
    z-index: 99999;
    top:50%;
    left:105%;
    background-color: var(--eng-toggle-bg);
    color:var(--eng-toggle-color);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FontAwesome;
    font-size: 1.3em;
    cursor: pointer;
}

.social.right .social-eng-block .social-eng-toggle{
    left:initial;
    right:105%;
}

.social-eng-block .social-eng-toggle::after{
    content: "\f0c9";
}

.social-eng-block .social-eng-toggle.active{
    right:26vw;
    background-color: var(--eng-toggle-active-bg);
    color:var(--eng-toggle-active-color);
}

.social-eng-block .social-eng-toggle.active::after{
    content: "\f00d";
}

.social-eng-block .social-eng-toggle:hover{
    background-color: var(--eng-toggle-hover-bg);
    color:var(--eng-toggle-hover-color);
}

@media (orientation: portrait) {
    .vff-mobile .social-eng-block{
        overflow: hidden;
        flex-direction: column-reverse;
        width: 100vw;
        flex:1;
    }

    .vff-mobile .social-eng-block .social-eng-tabs .social-eng-tab{
        font-size: 1.5rem;
    }
}