:root{
    /* --eng-tab-bg:#07263B;
    --eng-tab-color:#218791;
    --eng-tab-hover-bg:#218791;
    --eng-tab-hover-color:#0B3049;
    --eng-tab-active-bg:#218791;
    --eng-tab-active-color:#0B3049;

    --eng-tab-content-bg:#071824; */
    --eng-tab-scroll-width:5px;
    --eng-tab-scroll-bg:transparent;
    --eng-tab-scroll-color:rgba(255,255,255,0.35);
    --eng-tab-scroll-hover-color:rgba(255,255,255,0.6);

    /* --eng-tab-header-bg:#333;
    --eng-tab-header-color:#fff; */

    --eng-width: 25vw;
}

.social-eng-block{
    display: flex;
    flex-direction: column;
    width: var(--eng-width);
    position: relative;
    transform: translateX(calc(-1 * var(--eng-width)));
}

.social.right .social-eng-block{
    transform: translateX(var(--eng-width));
}

.social-eng-block.active, .social.right .social-eng-block.active{
    transform: translateX(0);
}

.social-eng-block .social-eng-tabs{
    display: flex;
    position: relative;
}

.social-eng-block .social-eng-tabs .social-eng-tabs-menu{
    position: absolute;
    width: 100%;
    background-color:#181e25;
    color:#fff;
    z-index: 500;
    top: 100%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.social-eng-block .social-eng-tabs .social-eng-tab{
    background:var(--tab-bg);
    color:var(--tab-color);
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.social-eng-block .social-eng-tabs .social-eng-tab .social-eng-tabs-menu-toggle{
    position: absolute;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color:#0095FF;
    border-radius: 50%;
    right:5%;
    cursor: pointer;
    top:50%;
    transform: translateY(-50%);
}

.social-eng-block .social-eng-tabs .social-eng-tab .social-eng-tabs-menu-toggle:hover{
    color: #fff;
    background-color:#0095FF;
}

.social-eng-block .social-eng-tabs .social-eng-tab:hover .social-eng-tabs-menu-toggle{
    display: flex;
}

.social-eng-block .social-eng-tabs .social-eng-tab:hover{
    background:var(--tab-hbg);
    color:var(--tab-hcolor);
}

.social-eng-block .social-eng-tabs .social-eng-tab.active{
    background:var(--tab-abg);
    color:var(--tab-acolor);
}

.social-eng-block .social-eng-tab-content {
    display: flex;
    flex: 1;
    background-color: var(--tab-content-bg);
    flex-direction: column;
    overflow: hidden;
}

.social-eng-block .social-eng-tab-content .social-eng-tab-items{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex:1;
}

.scroll{
    overflow: auto;
}

.scroll::-webkit-scrollbar {
    all:unset;
}

.scroll::-webkit-scrollbar {
    width: var(--eng-tab-scroll-width);
}

.scroll::-webkit-scrollbar-track {
    background: var(--eng-tab-scroll-bg);
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--eng-tab-scroll-color);
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--eng-tab-scroll-hover-color);
}

/* .social-eng-block .social-eng-tab-content .social-eng-tab-header{
    background-color: var(--eng-tab-header-bg);
    display: flex;
    flex-direction: column;
}

.social-eng-block .social-eng-tab-content .social-eng-tab-header .social-eng-tab-header-text{
    color:var(--eng-tab-header-color);
    padding: 0.5em;
}

.social-eng-block .social-eng-tab-content .social-eng-tab-header .social-eng-tab-header-media{
    width: 100%;
    height: auto;
    object-fit: contain;
} */

.social-eng-block .social-eng-toggles{
    position: absolute;
    top:50%;
    left:105%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social.right .social-eng-block .social-eng-toggles{
    left:initial;
    right:105%;
    align-items: flex-end;
}

.social-eng-block .social-eng-toggles .social-eng-toggle{
    z-index: 99999;
    background-color: var(--item-link-bg);
    color:var(--item-link-color);
    border-radius: 2rem;
    min-width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FontAwesome;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-family: "Yantramanav";
    position: relative;
}

.social-eng-block .social-eng-toggles .social-eng-toggle .social-eng-toggle-click{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: transparent;
    z-index: -1;
}

.social-eng-block .social-eng-toggles .social-eng-toggle span, .social-eng-block .social-eng-toggles .social-eng-toggle i{
    pointer-events: none;
}

.social-eng-block .social-eng-toggles .social-eng-toggle span, .social-eng-block .social-eng-toggles .social-eng-toggle .edit-text{
    white-space: pre;
    margin: 0 0 0 1rem;
}



.social.right .social-eng-block .social-eng-toggles .social-eng-toggle span, .social.right .social-eng-block .social-eng-toggles .social-eng-toggle .edit-text{
    margin: 0 1rem 0 0;
}

.social-eng-block .social-eng-toggles .social-eng-toggle.edit{
    background-color: #fff;
    color:#0095FF;
}

.social-eng-block .social-eng-toggle.active::after{
    content: "\f00d";
}

.social-eng-block .social-eng-toggles .social-eng-toggle:hover{
    background-color: var(--item-link-hbg);
    color:var(--item-link-hcolor);
}

.social-eng-block .social-eng-toggles .social-eng-toggle.edit:hover{
    color: #fff;
    background-color:#0095FF;
}

@media (orientation: portrait) {
    .vff-mobile .social-eng-block{
        overflow: hidden;
        flex-direction: column-reverse;
        width: 100vw;
        flex:1;
    }

    .vff-mobile .social-eng-block .social-eng-tabs .social-eng-tab{
        font-size: 1.5rem;
    }
}