:root{
    --eng-sns-name-color:#fff;
    --eng-sns-handle-color:#ddd;

    --eng-sns-content-color:#ccc;
    --eng-sns-content-link-color:#fff;
    --eng-sns-content-link-hover-color:red;

    --eng-sns-mentions-color: #54a4ff;
    --eng-sns-menu-item-color:#fff;
    --eng-sns-menu-item-hover-color:red;
    --eng-sns-menu-item-spacing:1em;
    --eng-sns-time-color:#fff;
}

.sns-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.sns-item .sns-header{
    display: flex;
    padding: 0.5em 0;
}

.sns-item .sns-header .sns-avatar{
    width:3em;
    height: 3em;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 1em;
}

.sns-item .sns-header .sns-header-info{
    display: flex;
    flex-direction: column;
}

.sns-item .sns-header .sns-header-info .sns-header-name{
    font-size: 1.5em;
    color:var(--eng-sns-name-color);
}

.sns-item .sns-header .sns-header-info .sns-header-handle{
    font-size: 1em;
    color:var(--eng-sns-handle-color);
}

.sns-item .sns-content{
    display: flex;
    flex-direction: column;
}

.sns-item .sns-content .sns-content-text{
    font-size: 1em;
    color:var(--eng-sns-content-color);
    padding: 0.5em 0;
}

.sns-item .sns-content .sns-content-text .sns-content-text-link{
    font-size: inherit;
    color:var(--eng-sns-content-link-color);
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.sns-item .sns-content .sns-content-text .sns-content-text-link:hover{
    color:var(--eng-sns-content-link-hover-color);
}

.sns-item .sns-content .sns-content-media{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.sns-item .sns-content .sns-content-media:last-child{
    padding: 0 0 0.5em 0;
}

.sns-item .sns-footer{
    display: flex;
    justify-content: space-between;
}

.sns-item .sns-footer .sns-menu{
    display: flex;
}

.sns-item .sns-footer .sns-menu .sns-menu-item{
    padding: 0 var(--eng-sns-menu-item-spacing);
    color:var(--eng-sns-menu-item-color);
    font-size: 1em;
    cursor: pointer;
}

.sns-item .sns-footer .sns-menu .sns-menu-item:hover{
    color:var(--eng-sns-menu-item-hover-color);
}

.sns-item .sns-footer .sns-time{
    font-size: 1em;
    color:var(--eng-sns-time-color);
}