:root{
    

    /* --eng-toggle-bg:#000;
    --eng-toggle-color:#fff;
    --eng-toggle-hover-bg:#ff0036;
    --eng-toggle-hover-color:#fff;
    --eng-toggle-active-bg:#000;
    --eng-toggle-active-color:#fff; */
}

@font-face {
    font-family: Nuggets;
    src: url(../fonts/Nuggets2018_2.ttf);
}

@font-face {
    font-family: Hyperwave;
    src: url(../fonts/Hyperwave_Three.ttf);
}

body{
    font-family: 'Roboto';
}
.social{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
}

.banner{
    width: 100%;
    height: 12.5vh;
}

.social.right{
    flex-direction: row-reverse;
}

@media (orientation: portrait) {
    .vff-mobile .social{
        flex-direction: column;
    }

    .vff-mobile .banner{
        height: 25vw;
    }
}

@media (orientation: landscape) {
    .vff-mobile .social{
        display: none;
    }
}