.style-editor{
    display: flex;
    flex-direction: column;
    background-color: #fff; 
    height: 30%;
    font-size: 12px;
    font-family: 'Yantramanav';
}

.style-editor h1, .style-editor h2, .style-editor h3{
    margin: 0;
    padding: 5px;
    background-color: #eaeaea;
    color:#0095FF;
}

.style-editor i{
    margin-right: 5px;
}

.style-editor .style-editor-columns{
    display: flex;
}

.style-editor .style-editor-columns .style-editor-column{
    display: flex;
    flex-direction: column;
    flex:1;
}

.style-editor .editor-block{
    display: flex;
    align-items: center;
    margin: 5px;
}

.style-editor .editor-block .editor-block-title{
    width: 100px;
}

.style-editor .style-editor-menu{
    display: flex;
    flex-direction: column;
}

.style-editor .style-editor-menu .style-editor-menu-item{
    padding: 5px;
    background-color: #fff;
    color:#0095FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 0.25rem;
    box-shadow:2px 2px 10px rgba(0,0,0,0.15);
}

.style-editor .style-editor-menu .style-editor-menu-item i{
    margin-right: 5px;
}

.style-editor .style-editor-menu .style-editor-menu-item:hover{
    color:#fff;
    background-color:#0095FF;
}