:root{
    --eng-bg: #121430;

    --eng-toggle-bg:#000;
    --eng-toggle-color:#fff;
    --eng-toggle-hover-bg:#ff0036;
    --eng-toggle-hover-color:#fff;
    --eng-toggle-active-bg:#000;
    --eng-toggle-active-color:#fff;
}

@font-face {
    font-family: Nuggets;
    src: url(../fonts/Nuggets2018_2.ttf);
}

@font-face {
    font-family: Hyperwave;
    src: url(../fonts/Hyperwave_Three.ttf);
}

body{
    font-family: Roboto;
}
.social{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
}

.social .social-eng-toggle{
    position: absolute;
    z-index: 99999;
    top:1vw;
    right:1vw;
    background-color: var(--eng-toggle-bg);
    color:var(--eng-toggle-color);
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FontAwesome;
    font-size: 1.3em;
    cursor: pointer;
}

.social .social-eng-toggle::after{
    content: "\f0c9";
}

.social .social-eng-toggle.active{
    right:26vw;
    background-color: var(--eng-toggle-active-bg);
    color:var(--eng-toggle-active-color);
}

.social .social-eng-toggle.active::after{
    content: "\f00d";
}

.social .social-eng-toggle:hover{
    background-color: var(--eng-toggle-hover-bg);
    color:var(--eng-toggle-hover-color);
}

@media (orientation: portrait) {
    .vff-mobile .social{
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    .vff-mobile .social{
        display: none;
    }
}