*{
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

html{
    overflow: hidden;
    font-size: 12px;
}


body{
    overflow: hidden;
}

*{
    user-select: none;
}

.vff-overlay{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.vff-overlay .vff-content{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.vff-overlay .edit-text{
    width: 100%;
    background-color: transparent;
    border:1px dashed;
    border-color: inherit;
    font-size: inherit;
    font-weight: inherit;
    color:inherit;
    font-family: inherit;
    resize: vertical;
    text-align: inherit;
}

.vff-overlay .edit-text::placeholder {
    color: inherit;
    text-align: inherit;
    opacity: 0.5;
  }

.vff-overlay .edit-text::-webkit-scrollbar {
    all:unset;
}

.vff-overlay .edit-text::-webkit-scrollbar {
    width: 5px;
}

.vff-overlay .edit-text::-webkit-scrollbar-track {
    background: transparent;
}

.vff-overlay .edit-text::-webkit-scrollbar-thumb {
    background: #555;
}

.vff-overlay .edit-text::-webkit-scrollbar-thumb:hover {
    background: #888;
}








.vff-overlay .image-browser{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vff-overlay .image-browser img{
    width: 100%;
    height: auto;
}

.vff-overlay .image-browser img.vertical-fit{
    width: auto;
    height: 100%;
}
.vff-overlay .image-browser .image-browser-menu.always-show{
    display: flex;
}

.vff-overlay .image-browser .image-browser-menu{
    display: none;
    
}

.vff-overlay .image-browser img~.image-browser-menu{
    position: absolute;
}

.vff-overlay .image-browser:hover .image-browser-menu{
    display: flex;
}

.vff-overlay .image-browser .image-browser-menu.static{
    display: flex;
    position: relative;
}

.vff-overlay .image-browser .image-browser-menu .image-browser-menu-button{
    min-width: 3rem;
    height: 3rem;
    background-color: #fff;
    color:#0095FF;
    font-size: 1.5rem;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    padding: 0 0.5rem;
}

.vff-overlay .image-browser .image-browser-menu .image-browser-menu-button span{
    white-space: pre;
    margin-left: 0.5rem;
    font-size: 0.75em;
}

.vff-overlay .image-browser .image-browser-menu .image-browser-menu-button.loading i{
    display: none;
}

.vff-overlay .image-browser .image-browser-menu .image-browser-menu-button .loader{
    display: none;
}

.vff-overlay .image-browser .image-browser-menu .image-browser-menu-button.loading .loader{
    display: flex;
}

.vff-overlay .image-browser .image-browser-menu .image-browser-menu-button:hover{
    color: #fff;
    background-color:#0095FF;
}


.vff-overlay .pickr .pcr-button{
    border:1px solid #333;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    html{
        font-size: 8px;
    }
  }

@media screen and (max-width: 600px) {
    html{
        font-size: 6px;
    }
  }

@media (orientation: portrait) {
    html{
        font-size: 3vw;
    }

    .vff-overlay .vff-content{
        top:56.25vw;
        left:0;
        right:0;
        bottom: 0;
    }
}
@media (orientation: landscape) {

}