*{
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

html{
    overflow: hidden;
    font-size: 12px;
}


body{
    overflow: hidden;
}

*{
    user-select: none;
}

.vff-overlay{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.vff-overlay .vff-content{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}

.vff-overlay .edit-text{
    width: 100%;
    background-color: transparent;
    border:1px dashed;
    border-color: inherit;
    font-size: inherit;
    font-weight: inherit;
    color:inherit;
    font-family: inherit;
    resize: vertical;
}

@media (orientation: portrait) {
    html{
        font-size: 3vw;
    }

    .vff-overlay .vff-content{
        top:56.25vw;
        left:0;
        right:0;
        bottom: 0;
    }
}
@media (orientation: landscape) {

}