:root{
    --eng-logo-size:80%;
    --eng-header-title-size:1.5em;
    --eng-header-title-color:#fff;

    --eng-header-subtitle-size:1em;
    --eng-header-subtitle-color:#fff;

    --eng-header-link-size:1em;
    --eng-header-link-spacing:1em;
    --eng-header-link-color:#fff;
    --eng-header-link-hover-color:#DF3C9C;
}

#background{
    background-color: var(--eng-bg);
    width: 100%;
    height: 100%;
    pointer-events:none;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 25% 12.5%, 25% 87.5%, 100% 87.5%, 100% 12.5%, 25% 12.5%);
}

#background.right{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 0% 12.5%, 0% 87.5%, 75% 87.5%, 75% 12.5%, 0% 12.5%);
}


.social-video-block{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.social-video-block .social-header{
    display: flex;
    height: calc(var(--eng-width) / 1.778 / 2 );
    align-items: center;
    padding: 2rem;
}

.social-video-block .social-header .social-header-logo{
    height: 100%;
}

@media (orientation: portrait) {
    .vff-mobile .social-video-block{
        display: none;
    }
}