.vf-chat{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vf-chat .chat-login{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.vf-chat .chat-login .chat-login-button{
    display: flex;
    background-color: var(--item-link-bg);
    color: var(--item-link-color);
    align-items: center;
    max-width: 75%;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.vf-chat .chat-login .chat-login-button i{
    margin-right: 1rem;
    font-size: 1.5em;
}

.vf-chat .chat-login .chat-login-button:hover{
    display: flex;
    background-color: var(--item-link-hbg);
    color: var(--item-link-hcolor);
}

.vf-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vf-chat .chat-body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex:1;
}

.vf-chat .chat-body .chat-messages{
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    flex:1;
}

.vf-chat .chat-body .chat-messages .chat-msg{
    align-self: flex-start;
    padding: 0;
    background: var(--item-bg);
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    border:none;
    max-width: 75%;
    overflow: hidden;
    flex:0 0 auto;
}

.vf-chat .chat-body .chat-messages .chat-msg.self{
    align-self: flex-end;
}

.vf-chat .chat-body .chat-messages .chat-msg .chat-msg-header{
    background-color: var(--item-title-bg);
    color: var(--item-title-color);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vf-chat .chat-body .chat-messages .chat-msg .chat-msg-header .chat-msg-user{
    
}

.vf-chat .chat-body .chat-messages .chat-msg .chat-msg-header .chat-msg-time{
    opacity: 0.8;
    font-size: 0.85em;
    font-style: italic;
    margin-left: 1rem;
}

.vf-chat .chat-body .chat-messages .chat-msg .chat-msg-content{
    background-color: var(--item-content-bg);
    color: var(--item-content-color);
    padding: 0.5rem;
    white-space: pre-wrap;
    line-height: 1.5rem;
}


.vf-chat .chat-body .chat-input{
    display: flex;
    height: 5rem;
}

.vf-chat .chat-body .chat-input-text{
    flex:1;
    resize: none;
    background-color: var(--item-content-bg);
    color: var(--item-content-color);
    border:1px solid var(--item-content-color);
    font-family: inherit;
    font-size:1.5rem;
}

.vf-chat .chat-body .chat-input-send{
    flex: 0 0 5rem;
    background-color:var(--item-link-bg);
    color:var(--item-link-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vf-chat .chat-body .chat-input-send:hover{
    background-color:var(--item-link-hbg);
    color:var(--item-link-hcolor);
}