<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vff"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.esm.js"></script>
    <script nomodule="" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.js"></script>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/controller.css"/>
</head>
<body vff-controller ng-app="app" ng-controller="ctrl">
    <vff-tabs default="engagement">
        <vff-tab for="engagement">Engagement</vff-tab>
        <vff-tab for="content">Content</vff-tab>
        <vff-tab for="style">Style</vff-tab>
    </vff-tabs>
    <div id="engagement" class="ctrl-container">
        <div class="eng-main-menu">
            <button ng-click="addEng()"><i class="fa fa-plus" aria-hidden="true"></i><span>New...</span></button>
            <button ng-click="hideAllEng()"><i class="fa fa-minus" aria-hidden="true"></i><span>Hide all</span></button>
            <button ng-click="removeAllEng()"><i class="fa fa-trash" aria-hidden="true"></i><span>Delete all</span></button>
        </div>
        <table>
                <tbody>
                    <tr ng-repeat="item in engagements track by $index" class="eng">
                        <td class="eng-wrap">
                            <div class="eng-header">
                                <div class="eng-menu">
                                    <label>Style</label>
                                    <vff-select class="eng-style" vff-data="engagements.{{$index}}.style" select-text="choose"></vff-select>
                                    <label>Duration</label>
                                    <vff-select class="eng-duration" vff-data="engagements.{{$index}}.duration" select-text="choose"></vff-select>
                                </div>
                                <a ng-click="removeEng($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <div class="eng-menu">
                                    <label>Visibility</label>
                                    <vff-checkbox class="eng-visibility" vff-data="engagements.{{$index}}.visible" ng-click="activateEngagement(item, $index)"></vff-checkbox>
                                </div>
                            </div>
                            <vff-text class="eng-input" vff-data="engagements.{{$index}}.id" value="{{item.id}}" style="display: none"></vff-text>
                            <vff-text class="eng-input" vff-data="engagements.{{$index}}.question" placeholder="Ask a question..."></vff-text>
                            <vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.0.text" placeholder="Answer 1"></vff-text>
                            <vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.1.text" placeholder="Answer 2"></vff-text>
                            <vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.2.text" placeholder="Answer 3"></vff-text>
                            <vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.3.text" placeholder="Answer 4"></vff-text>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div id="content" class="ctrl-container">
        <h3>Header</h3>
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Logo</label>
                <vff-image-browser vff-data="data.header.logo"></vff-image-browser>
            </div>
            <div class="ctrl-container-block">
                <label>Title</label>
                <vff-text vff-data="data.header.header" placeholder="Header"></vff-text>
                <label>Subtitle</label>
                <vff-text vff-data="data.header.subHeader" placeholder="Sub header"></vff-text>
            </div>
        </div>
    </div>
    <div id="style" class="ctrl-container">
        <h3>Background</h3>
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Background Image</label>
                <vff-image-browser vff-data="data.bgImage"></vff-image-browser>
            </div>
            <div class="ctrl-container-block">
                <label>Background Color</label>
                <vff-color-picker vff-style="engBg" value="#171A3F"></vff-color-picker>
            </div>
        </div>
        <h3>Header</h3>
        <div class="ctrl-container-row">
            <label>Title size</label>
            <vff-range min="0.5" max="5" step="0.1" value="2" vff-style="engHeaderTitleSize" vff-suffix="em"></vff-range>
        </div>
        <div class="ctrl-container-row">
            <label>Subtitle size</label>
            <vff-range min="0.5" max="5" step="0.1" value="1.2" vff-style="engHeaderSubtitleSize" vff-suffix="em"></vff-range>
        </div>
        </div>
    </div>

</body>
</html>