<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vff"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.esm.js"></script>
    <script nomodule="" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.js"></script>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/controller.css"/>
</head>
<body vff-controller ng-app="app" ng-controller="ctrl">
    <vff-tabs default="content">
        <!--<vff-tab for="engagement" ng-if="false">Engagement</vff-tab>-->
        <vff-tab for="content">Content</vff-tab>
        <vff-tab for="style">Style</vff-tab>
    </vff-tabs>
    <!--<div id="engagement" class="ctrl-container" ng-if="false">-->
        <!--<div class="eng-main-menu">-->
            <!--<button ng-click="addEng()"><i class="fa fa-plus" aria-hidden="true"></i><span>New...</span></button>-->
            <!--<button ng-click="hideAllEng()"><i class="fa fa-minus" aria-hidden="true"></i><span>Hide all</span></button>-->
            <!--<button ng-click="removeAllEng()"><i class="fa fa-trash" aria-hidden="true"></i><span>Delete all</span></button>-->
        <!--</div>-->
        <!--<table>-->
                <!--<tbody>-->
                    <!--<tr ng-repeat="item in engagements track by $index" class="eng">-->
                        <!--<td class="eng-wrap">-->
                            <!--<div class="eng-header">-->
                                <!--<div class="eng-menu">-->
                                    <!--<label>Style</label>-->
                                    <!--<vff-select class="eng-style" vff-data="engagements.{{$index}}.style" select-text="choose"></vff-select>-->
                                    <!--<label>Duration</label>-->
                                    <!--<vff-select class="eng-duration" vff-data="engagements.{{$index}}.duration" select-text="choose"></vff-select>-->
                                <!--</div>-->
                                <!--<a ng-click="removeEng($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
                                <!--<div class="eng-menu">-->
                                    <!--<label>Visibility</label>-->
                                    <!--<vff-checkbox class="eng-visibility" vff-data="engagements.{{$index}}.visible" ng-click="activateEngagement(item, $index)"></vff-checkbox>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<vff-text class="eng-input" vff-data="engagements.{{$index}}.id" value="{{item.id}}" style="display: none"></vff-text>-->
                            <!--<vff-text class="eng-input" vff-data="engagements.{{$index}}.question" placeholder="Ask a question..."></vff-text>-->
                            <!--<vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.0.text" placeholder="Answer 1"></vff-text>-->
                            <!--<vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.1.text" placeholder="Answer 2"></vff-text>-->
                            <!--<vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.2.text" placeholder="Answer 3"></vff-text>-->
                            <!--<vff-text class="eng-input" vff-data="engagements.{{$index}}.answers.3.text" placeholder="Answer 4"></vff-text>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
    <!--</div>-->
    <div id="content" class="ctrl-container">
        <h3>Header</h3>
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Logo</label>
                <vff-image-browser vff-data="data.header.logo"></vff-image-browser>
            </div>
            <div class="ctrl-container-block">
                <label>Title</label>
                <vff-text vff-data="data.header.header" placeholder="Header"></vff-text>
                <label>Subtitle</label>
                <vff-text vff-data="data.header.subHeader" placeholder="Sub header"></vff-text>
            </div>
        </div>
        <h3>Header buttons</h3>
        <div class="ctrl-container-row">
            <label>Button 1</label>
            <vff-text vff-data="data.header.link1.name" placeholder="Name"></vff-text>
            <vff-text vff-data="data.header.link1.url" placeholder="URL"></vff-text>
        </div>
        <div class="ctrl-container-row">
            <label>Button 2</label>
            <vff-text vff-data="data.header.link2.name" placeholder="Name"></vff-text>
            <vff-text vff-data="data.header.link2.url" placeholder="URL"></vff-text>
        </div>
        <div class="ctrl-container-row">
            <label>Button 3</label>
            <vff-text vff-data="data.header.link3.name" placeholder="Name"></vff-text>
            <vff-text vff-data="data.header.link3.url" placeholder="URL"></vff-text>
        </div>
        <div class="ctrl-container-row">
            <label>Button 4</label>
            <vff-text vff-data="data.header.link4.name" placeholder="Name"></vff-text>
            <vff-text vff-data="data.header.link4.url" placeholder="URL"></vff-text>
        </div>
        <div class="ctrl-container-row">
            <label>Button 5</label>
            <vff-text vff-data="data.header.link4.name" placeholder="Name"></vff-text>
            <vff-text vff-data="data.header.link5.url" placeholder="URL"></vff-text>
        </div>
    </div>
    <div id="style" class="ctrl-container">
        <h3>Background</h3>
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Background Image</label>
                <vff-image-browser vff-data="data.bgImage"></vff-image-browser>
            </div>
            <div class="ctrl-container-block">
                <label>Background Color</label>
                <vff-color-picker vff-style="engBg" value="#171A3F"></vff-color-picker>
            </div>
        </div>
        <h3>Header</h3>
        <!--<div class="ctrl-container-row">-->
            <!--<div class="ctrl-container-block">-->
                <!--<label>Title size</label>-->
                <!--<vff-range min="0.5" max="5" step="0.1" value="2" vff-style="engHeaderTitleSize" vff-suffix="em"></vff-range>-->
            <!--</div>-->
            <!--<div class="ctrl-container-block">-->
                <!--<label>Subtitle size</label>-->
                <!--<vff-range min="0.5" max="5" step="0.1" value="1.2" vff-style="engHeaderSubtitleSize" vff-suffix="em"></vff-range>-->
            <!--</div>-->
            <!--<div class="ctrl-container-block">-->
                <!--<label>Buttons size</label>-->
                <!--<vff-range min="0.5" max="2" step="0.1" value="1" vff-style="engHeaderLinkSize" vff-suffix="em"></vff-range>-->
            <!--</div>-->
        <!--</div>-->
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Title color</label>
                <vff-color-picker vff-style="engHeaderTitleColor" value="#ffffff"></vff-color-picker>
            </div>
            <div class="ctrl-container-block">
                <label>Subtitle color</label>
                <vff-color-picker vff-style="engHeaderSubtitleColor" value="#ffffff"></vff-color-picker>
            </div>
            <div class="ctrl-container-block">
                <label>Buttons color</label>
                <vff-color-picker vff-style="engHeaderLinkColor" value="#ffffff"></vff-color-picker>
                <label>Buttons hover</label>
                <vff-color-picker vff-style="engHeaderLinkHoverColor" value="#DF3C9C"></vff-color-picker>
            </div>
        </div>
        <h3>Tabs</h3>
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Tab Background</label>
                <vff-color-picker vff-style="engTabBg" value="#1B1E46"></vff-color-picker>
                <label>Tab Hover Background</label>
                <vff-color-picker vff-style="engTabHoverBg" value="#DF3C9C"></vff-color-picker>
                <label>Tab Selected Background</label>
                <vff-color-picker vff-style="engTabActiveBg" value="#DF3C9C"></vff-color-picker>
            </div>
            <div class="ctrl-container-block">
                <label>Tab color</label>
                <vff-color-picker vff-style="engTabColor" value="#DF3C9C"></vff-color-picker>
                <label>Tab Hover color</label>
                <vff-color-picker vff-style="engTabHoverColor" value="#1B1E46"></vff-color-picker>
                <label>Tab Selected color</label>
                <vff-color-picker vff-style="engTabActiveColor" value="#1B1E46"></vff-color-picker>
            </div>
            <div class="ctrl-container-block">
                <label>Tab content background</label>
                <vff-color-picker vff-style="engTabContentBg" value="#101129"></vff-color-picker>
                <label>Scroll color</label>
                <vff-color-picker vff-style="engTabScrollColor" value="#aaaaaa"></vff-color-picker>
                <label>Scroll hover color</label>
                <vff-color-picker vff-style="engTabScrollHoverColor" value="#ffffff"></vff-color-picker>
            </div>
        </div>
        <h3>Tweets</h3>
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Tweet background</label>
                <vff-color-picker vff-style="engSnsBg" value="#212455"></vff-color-picker>
                <label>Tweet header background</label>
                <vff-color-picker vff-style="engSnsHeaderBg" value="#1a1d44"></vff-color-picker>
                <label>Name color</label>
                <vff-color-picker vff-style="engSnsNameColor" value="#ffffff"></vff-color-picker>
                <label>Handle color</label>
                <vff-color-picker vff-style="engSnsHandleColor" value="#dddddd"></vff-color-picker>
            </div>
            <div class="ctrl-container-block">
                <label>Tweet content color</label>
                <vff-color-picker vff-style="engSnsContentColor" value="#ffffff"></vff-color-picker>
                <label>Tweet content link color</label>
                <vff-color-picker vff-style="engSnsContentLinkColor" value="#32ADA7"></vff-color-picker>
                <label>Tweet content link hover color</label>
                <vff-color-picker vff-style="engSnsContentLinkHoverColor" value="#DF3C9C"></vff-color-picker>
                <!--<label>Tweet mentions color</label>-->
                <!--<vff-color-picker vff-style="engSnsMentionsColor" value="#32ADA7"></vff-color-picker>-->
            </div>
            <div class="ctrl-container-block">
                <label>Tweet menu button color</label>
                <vff-color-picker vff-style="engSnsMenuItemColor" value="#ffffff"></vff-color-picker>
                <label>Tweet menu button hover color</label>
                <vff-color-picker vff-style="engSnsMenuItemHoverColor" value="#DF3C9C"></vff-color-picker>
                <label>Tweet time color</label>
                <vff-color-picker vff-style="engSnsTimeColor" value="#ffffff"></vff-color-picker>
            </div>
        </div>
        <h3>Engagement</h3>
        <div class="ctrl-container-row">
            <div class="ctrl-container-block">
                <label>Eng background</label>
                <vff-color-picker vff-style="engItemBg" value="#212455"></vff-color-picker>
                <label>Eng question bg</label>
                <vff-color-picker vff-style="engItemHeaderBg" value="#1a1d44"></vff-color-picker>
                <label>Eng question color</label>
                <vff-color-picker vff-style="engItemHeaderColor" value="#ffffff"></vff-color-picker>
            </div>
            <div class="ctrl-container-block">
                <label>Eng answer background</label>
                <vff-color-picker vff-style="engItemAnswerBg" value="transparent"></vff-color-picker>
                <label>Eng answer color</label>
                <vff-color-picker vff-style="engItemAnswerColor" value="#ffffff"></vff-color-picker>
                <label>Eng answer hover color</label>
                <vff-color-picker vff-style="engItemAnswerHoverColor" value="#DF3C9C"></vff-color-picker>
                <label>Eng answer selected color</label>
                <vff-color-picker vff-style="engItemAnswerSelectedColor" value="#00000088"></vff-color-picker>
            </div>
            <div class="ctrl-container-block">
                <label>Eng result background</label>
                <vff-color-picker vff-style="engItemAnswerResultBg" value="#121430"></vff-color-picker>
                <label>Eng result color</label>
                <vff-color-picker vff-style="engItemAnswerResultColor" value="#ffffff"></vff-color-picker>
                <label>Eng result bar color</label>
                <vff-color-picker vff-style="engItemAnswerResultBar" value="#DF3C9C"></vff-color-picker>
            </div>
        </div>
    </div>
</body>
</html>