<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videoflow - Social Engagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scale=no, viewport-fit=cover">

    <link rel="stylesheet" href="css/vff-overlay.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/engagement.css" />
    <link rel="stylesheet" href="css/video.css" />
    <link rel="stylesheet" href="js/directives/twitter/twitter.css" />
    <link rel="stylesheet" href="js/directives/timeline/timeline.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'nano' theme -->

    <script type="module" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.esm.js"></script>
    <script nomodule="" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


    <!-- Modern or es5 bundle -->
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>

    <script src="js/main.js"></script>

    <script src="js/utils/moment.min.js"></script>
    <script src="js/utils/sortable.js"></script>
    <script src="js/utils/uploadService.js"></script>
    <script src="js/utils/imageBrowser.js"></script>
    <script src="js/utils/imageBrowserAttr.js"></script>
    <script src="js/utils/colorPicker.js"></script>

<!--    <script src="https://cdn.jsdelivr.net/npm/vff@1"></script>-->
    <script src="http://localhost:8081/vff.js"></script>

    <script src="js/directives/twitter/twitter.js"></script>
    <script src="js/directives/twitter/tweet.js"></script>
    <script src="js/directives/timeline/timeline.js"></script>
</head>
<body class="vff-overlay" ng-app="socialApp" ng-controller="socialController" ng-show="ready">
    <div id="background" ng-class="{right:data.settings.contentAlign==='right'}" ng-style="{'background-image':'url('+data.bgImage+')'}"></div>
    <div class="vff-content">
        <div class="social" ng-class="{right:data.settings.contentAlign==='right'}">          
            <div id="social-eng-block" class="social-eng-block" ng-class="{active:data.settings.allowToggle?engVisibility:true}">
                <div class="social-eng-tabs" ng-if="edit?true:showTabs()">
                    <a class="social-eng-tab" ng-if="edit?true:data.twitter.visible" ng-class="{active:selectedTab==='twitter'}" ng-click="selectTab('twitter')"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="social-eng-tab" ng-if="edit?true:data.timeline.visible" ng-class="{active:selectedTab==='timeline'}" ng-click="selectTab('timeline')"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
                <div class="social-eng-tab-content" ng-if="selectedTab==='twitter'">
                    <twitter data="data.twitter"></twitter>
                </div>
                <div class="social-eng-tab-content" ng-show="selectedTab==='timeline'">
                    <timeline data="data.timeline" edit="edit" ></timeline>
                </div>
                <div class="social-eng-toggle" ng-if="data.settings.allowToggle" ng-click="toggleEng()">
                    
                </div>
            </div>
            <div class="social-video-block">
                
            </div>
        </div>
    </div>
</body>
</html>