<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videoflow - Social Engagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scale=no, viewport-fit=cover">

    <link rel="stylesheet" href="css/vff-overlay.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/engagement.css" />
    <link rel="stylesheet" href="css/video.css" />
    <link rel="stylesheet" href="css/style-editor.css" />
    <link rel="stylesheet" href="js/directives/twitter/twitter.css" />
    <link rel="stylesheet" href="js/directives/timeline/timeline.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'nano' theme -->

    <script type="module" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.esm.js"></script>
    <script nomodule="" src="https://cdn.jsdelivr.net/npm/vff-controllers/dist/vff-controller/vff-controller.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


    <!-- Modern or es5 bundle -->
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>

    <script src="js/main.js"></script>

    <script src="js/utils/moment.min.js"></script>
    <script src="js/utils/sortable.js"></script>
    <script src="js/utils/uploadService.js"></script>
    <script src="js/utils/imageBrowser.js"></script>
    <script src="js/utils/imageBrowserAttr.js"></script>
    <script src="js/utils/colorPicker.js"></script>
    <script src="js/utils/transform.js"></script>
    <script src="js/utils/themes.js"></script>
    

    <script src="https://cdn.jsdelivr.net/npm/vff@1"></script>
<!--    <script src="http://localhost:8081/vff.js"></script>-->

    <script src="js/directives/twitter/twitter.js"></script>
    <script src="js/directives/twitter/tweet.js"></script>
    <script src="js/directives/timeline/timeline.js"></script>
</head>
<body class="vff-overlay" ng-app="socialApp" ng-controller="socialController" ng-show="ready">
    <div id="background" ng-class="{right:data.settings.contentAlign==='right'}" ng-style="{'background-image':'url('+data.settings.bgImage+')'}"></div>
    <div class="vff-content">
        <div class="social" ng-class="{right:data.settings.contentAlign==='right'}">          
            <div id="social-eng-block" class="social-eng-block" ng-class="{active:data.settings.allowToggle?engVisibility:true}">
                <div class="social-eng-tabs" ng-if="edit?true:showTabs()">
                    <a class="social-eng-tab" ng-if="edit?true:data.twitter.visible" ng-class="{active:selectedTab==='twitter'}" ng-click="selectTab('twitter')">
                        <i class="fa fa-twitter" aria-hidden="true" ng-style="{opacity:data.twitter.visible?1:0.25}"></i>
                        <div class="social-eng-tabs-menu-toggle" ng-if="edit" ng-click="toggleSettingsMenu('twitter')">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a class="social-eng-tab" ng-if="edit?true:data.timeline.visible" ng-class="{active:selectedTab==='timeline'}" ng-click="selectTab('timeline')">
                        <i class="fa fa-th-list" aria-hidden="true" ng-style="{opacity:data.timeline.visible?1:0.25}"></i>
                        <div class="social-eng-tabs-menu-toggle" ng-if="edit" ng-click="toggleSettingsMenu('timeline')">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="social-eng-tabs-menu" ng-if="settingsMenu && edit">
                        <div class="style-editor scroll" ng-if="selectedSettings==='general'">
                            <h2>General settings</h2>
                            <div class="style-editor-columns">
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <label class="editor-block-title">Tab content background</label>
                                        <color-picker value="style.engTabContentBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Toggle button background</label>
                                        <color-picker value="style.engToggleBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Toggle botton color</label>
                                        <color-picker value="style.engToggleColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Toggle button hover background</label>
                                        <color-picker value="style.engToggleHoverBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Toggle botton hover color</label>
                                        <color-picker value="style.engToggleHoverColor"></color-picker>
                                    </div>
                                </div>
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <label class="editor-block-title">Tab background</label>
                                        <color-picker value="style.engTabBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Tab color</label>
                                        <color-picker value="style.engTabColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Tab hover bg</label>
                                        <color-picker value="style.engTabHoverBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Tab hover color</label>
                                        <color-picker value="style.engTabHoverColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Tab active bg</label>
                                        <color-picker value="style.engTabActiveBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Tab active color</label>
                                        <color-picker value="style.engTabActiveColor"></color-picker>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="style-editor-columns">
                                <div class="style-editor-column">
                                    <div class="style-theme" ng-repeat="(key, value) in themes">
                                        <div class="style-theme-colors" style="display: flex;" ng-click="applyTheme(value)">
                                            <div class="style-theme-color" ng-repeat="color in value track by $index" ng-style="{'background-color':color}" style="width:30px;height:30px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="style-editor scroll" ng-if="selectedSettings==='timeline'">
                            <h2>Timeline settings</h2>
                            <div class="style-editor-columns">
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <input type="checkbox" id="showTmeline" ng-model="data.timeline.visible">
                                        <label for="showTmeline">Show timeline</label>
                                    </div>
                                    <!-- <div class="editor-block">
                                        <input type="checkbox" id="showAvatars" ng-model="data.showAvatars">
                                        <label for="showAvatars">Show avatars</label>
                                    </div> -->
                                    <div class="editor-block">
                                        <input type="checkbox" id="showTimestamps" ng-model="data.timeline.showTimestamps">
                                        <label for="showTimestamps">Show timestamps</label>
                                    </div>
                                </div>
                            </div>
                            <div class="style-editor-columns">
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <label class="editor-block-title">Item background</label>
                                        <color-picker value="style.timelineItemBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Header background</label>
                                        <color-picker value="style.timelineItemHeaderBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Header text</label>
                                        <color-picker value="style.timelineItemHeaderColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Description background</label>
                                        <color-picker value="style.timelineItemDescBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Description text</label>
                                        <color-picker value="style.timelineItemDescColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Items spacing</label>
                                        <input type="range" min="0" max="10" step="0.1" transform="{0}rem" ng-model="style.timelineItemSpacing"/>
                                    </div>
                                </div>
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <label class="editor-block-title">Call to action background</label>
                                        <color-picker value="style.timelineItemCtaBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Call to action text</label>
                                        <color-picker value="style.timelineItemCtaColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Time background</label>
                                        <color-picker value="style.timelineItemTimeBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Time text</label>
                                        <color-picker value="style.timelineItemTimeColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Time dash</label>
                                        <color-picker value="style.timelineItemTimeDashColor"></color-picker>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="style-editor scroll" ng-if="selectedSettings==='twitter'">
                            <h2>Twitter settings</h2>
                            <div class="style-editor-columns">
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <input type="checkbox" id="showTmeline" ng-model="data.twitter.visible"/>
                                        <label for="showTmeline">Show tab</label>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Twitter handle</label>
                                        <input ng-model="temp.twitterHandle" value="{{data.twitter.handle}}"/>
                                        <div class="refresh-button" ng-click="setTwitterHandle()">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="style-editor-columns">
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <label class="editor-block-title">Item background</label>
                                        <color-picker value="style.tweetBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Header background</label>
                                        <color-picker value="style.tweetHeaderBg"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Name color</label>
                                        <color-picker value="style.tweetNameColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Handle color</label>
                                        <color-picker value="style.tweetHandleColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Content color</label>
                                        <color-picker value="style.tweetContentColor"></color-picker>
                                    </div>
                                </div>
                                <div class="style-editor-column">
                                    <div class="editor-block">
                                        <label class="editor-block-title">Link color</label>
                                        <color-picker value="style.tweetContentLinkColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Link hover color</label>
                                        <color-picker value="style.tweetContentLinkHoverColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Mentions color</label>
                                        <color-picker value="style.tweetMentionsColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Menu color</label>
                                        <color-picker value="style.tweetMenuItemColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Menu hover color</label>
                                        <color-picker value="style.tweetMenuItemHoverColor"></color-picker>
                                    </div>
                                    <div class="editor-block">
                                        <label class="editor-block-title">Time color</label>
                                        <color-picker value="style.tweetTimeColor"></color-picker>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="style-editor">
                            <div class="style-editor-menu">
                                <div class="style-editor-menu-item" ng-click="saveSettings()">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    <span>Save</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-eng-tab-content" ng-show="selectedTab==='twitter' && (data.twitter.visible || edit)">
                    <twitter data="data.twitter"></twitter>
                </div>
                <div class="social-eng-tab-content" ng-show="selectedTab==='timeline' && (data.timeline.visible || edit)">
                    <timeline data="data.timeline" edit="edit"></timeline>
                </div>
                <div class="social-eng-toggles">
                    <div class="social-eng-toggle edit" ng-if="edit" ng-click="toggleSettingsMenu()">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>General Settings</span>
                    </div>
                    <div class="social-eng-toggle edit" ng-if="edit" ng-click="toggleAlignment()">
                        <i class="fa fa-arrows-h" aria-hidden="true"></i>
                        <span>Change Alignment</span>
                    </div>
                    <div class="social-eng-toggle" ng-if="data.settings.allowToggle" ng-click="toggleEng()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="social-video-block" ng-show="engVisibility">
                <div class="social-header">
                    <div class="social-header-logo image-browser">
                        <img class="vertical-fit" ng-if="data.settings.header.logo && data.settings.header.logo!==''" ng-src="{{data.settings.header.logo}}"/>
                        <div class="image-browser-menu" ng-class="{static:!data.settings.header.logo && data.settings.header.logo===''}" ng-if="edit">
                            <div class="image-browser-menu-button" ng-if="edit" value="data.settings.header.logo" image-browser>
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <i class="fa fa-cog fa-spin loader"></i>
                                <span>Logo</span>
                            </div>
                            <div class="image-browser-menu-button" ng-if="edit && data.settings.header.logo && data.settings.header.logo!==''" ng-click="clearHeaderLogo()">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="social-header-text">
                        <div class="social-header-title" ng-if="edit || (data.settings.header.title && data.settings.header.title!=='')">
                            <span ng-if="!edit">{{data.settings.header.title}}</span>
                            <input placeholder="Header Text" ng-model="data.settings.header.title" ng-if="edit" class="edit-text"/>
                        </div>
                        <div class="social-header-subtitle" ng-if="edit || (data.settings.header.subtitle && data.settings.header.subtitle!=='')">
                            <span ng-if="!edit">{{data.settings.header.subtitle}}</span>
                            <input placeholder="Header Text" ng-model="data.settings.header.subtitle" ng-if="edit" class="edit-text"/>
                        </div>
                    </div> -->
                    <div class="image-browser" style="position: absolute;right:10px;">
                        <div class="image-browser-menu always-show" ng-class="{static:!data.settings.bgImage && data.settings.bgImage===''}" ng-if="edit">
                            <div class="image-browser-menu-button" ng-if="edit" value="data.settings.bgImage" image-browser>
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <i class="fa fa-cog fa-spin loader"></i>
                                <span>Background Image</span>
                            </div>
                            <div class="image-browser-menu-button" ng-if="edit && data.settings.bgImage && data.settings.bgImage!==''" ng-click="clearBg()">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>