:root{
    /* --timeline-item-bg:#0B3049;
    --timeline-item-header-bg:#218791;
    --timeline-item-header-color:#fff;
    --timeline-item-desc-bg:transparent;
    --timeline-item-desc-color:#5D8097;
    --timeline-item-cta-bg:transparent;
    --timeline-item-cta-color:#5D8097;
    --timeline-item-time-bg:#218791;
    --timeline-item-time-color:#fff;
    --timeline-item-time-dash-color:#5d8097; */

    /* --timeline-item-spacing:2.5rem; */
}


.timeline{
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: hidden;
}

.timeline.edit .tl-item{
    border:1px solid transparent;
}

.timeline.edit .tl-item:hover{
    border:1px dashed #fff;
}

.timeline .tl-items{
    display: flex;
    flex-direction: column;
    flex:1;
}

.timeline .tl-item{
    display: flex;
    flex-direction: column;
    position: relative;
    flex:0 0 auto;
}

.timeline .tl-item .tl-item-click{
    position: absolute;
    background: #ffffff00;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10000;
}

.timeline .tl-item:hover .eng-item-menu{
    display: flex;
    z-index: 100;
}

.timeline .tl-item .tl-item-content{
    margin: 0 1rem;
    display: flex;
    flex:1;
    align-items: center;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars .tl-item-avatar{
    border-radius: 50%;
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;

}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars .tl-item-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars-menu .tl-item-avatars-menu-item{
    background-color: #fff;
    color:#0095FF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border-radius: 50%;
    font-size: 2rem;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars-menu .tl-item-avatars-menu-item:hover{
    background-color: #0095FF;
    color:#fff;
}

.timeline .tl-item .tl-item-content .tl-item-time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem 0 0;
    position: relative;
    height: 100%;
}

.timeline .tl-item .tl-item-content .tl-item-time:before{
    position: absolute;
    content:"";
    width: 1px;
    height: 100%;
    top:0;
    left:50%;
    background-image: linear-gradient(0deg, transparent 25%, var(--item-content-color) 25%, var(--item-content-color) 50%, transparent 50%, transparent 75%, var(--item-content-color) 75%, var(--item-content-color) 100%);
    background-size: 20.00px 20.00px;
}

.timeline .tl-item:last-child .tl-item-content .tl-item-time:before{
    height: 50%;
}

.timeline .tl-item .tl-item-content .tl-item-time .tl-item-time-wrap{
    background-color: var(--tab-content-bg);
    color:var(--item-content-color);
    border:1px solid var(--item-content-color);
    padding: 0.25rem 0.5rem;
    position: relative;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .tl-item .tl-item-content .tl-item-time .tl-item-time-wrap:before{
    content:'';
    background-color: var(--item-content-bg);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.timeline .tl-item .tl-item-content .tl-item-time .tl-item-time-wrap .tl-item-time-content{
    color:inherit;
    font-size: inherit;
    position: absolute;
    text-align: inherit;
}

.timeline .tl-item .tl-item-content .tl-item-time .tl-item-time-wrap .tl-item-time-placeholder{
    color:transparent;
    font-size: inherit;
    text-align: inherit;
    opacity: 0;
}

.timeline .tl-item .tl-item-content .tl-item-info{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: var(--item-bg);
    overflow: hidden;
    margin: var(--item-spacing) 0;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-header{
    background-color: var(--item-title-bg);
    padding: 0.5rem;
    color:var(--item-title-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-header span{
    font-size: inherit;
    font-size: inherit;
    color:inherit;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timeline.edit .tl-item .tl-item-content .tl-item-info .tl-item-img:hover .tl-item-img-menu{
    display: flex;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img img{
    width: 100%;
    height: auto;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu{
    display: none;
    position: absolute;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu.static{
    display: flex;
    position: relative;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    color:#0095FF;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button.loading i{
    display: none;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button .loader{
    display: none;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button.loading .loader{
    display: flex;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button:hover{
    color: #fff;
    background-color:#0095FF;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-desc{
    padding: 5px;
    background-color: var(--item-content-bg);
    color:var(--item-content-color);
    font-size: 1.2rem;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-desc span{
    color:inherit;
    white-space: pre-line;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-cta{
    padding: 5px;
    background-color:var(--item-link-bg);
    color:var(--item-link-color);
    text-align: center;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-cta span{
    color:inherit;
    text-align: inherit;
}

.timeline .tl-item .tl-item-content .tl-item-click{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-click-action{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-click-action .tl-item-link-input{
    padding: 5px;
    background: #000;
    border-color: rgba(255,255,255,0.1);
    color: #fff;
    outline: none;
    margin-top: 5px;
}