:root{
    --timeline-item-bg:#0B3049;
    --timeline-item-header-bg:#218791;
    --timeline-item-header-color:#fff;
    --timeline-item-desc-bg:transparent;
    --timeline-item-desc-color:#5D8097;
    --timeline-item-cta-bg:transparent;
    --timeline-item-cta-color:#5D8097;
    --timeline-item-time-bg:#218791;
    --timeline-item-time-color:#fff;
    --timeline-item-time-dash-color:#5d8097;

    --timeline-item-spacing:2.5rem;
}


.timeline{
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: hidden;
}

.timeline.edit .tl-item{
    border:1px solid transparent;
}

.timeline.edit .tl-item:hover{
    border:1px dashed #fff;
}

.timeline .tl-menu{
    display: flex;
    flex-direction: column;
}

.timeline .tl-menu .tl-menu-item{
    padding: 5px;
    background-color: #fff;
    color:#0095FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 0.25rem;
}

.timeline .tl-menu .tl-menu-item i{
    margin-right: 5px;
}

.timeline .tl-menu .tl-menu-item:hover{
    color:#fff;
    background-color:#0095FF;
}

.timeline .tl-items{
    display: flex;
    flex-direction: column;
    flex:1;
}

.timeline .tl-item{
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline .tl-item .tl-item-click{
    position: absolute;
    background: #ffffff00;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10000;
}

.timeline .tl-item:hover .tl-item-menu{
    display: flex;
    z-index: 100;
}

.timeline .tl-item .tl-item-menu{
    display: none;
    position: absolute;
    top:5px;
    left:5px;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button{
    background-color: #fff;
    color:#0095FF;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button:first-child{
    border-radius: 5px 0 0 5px;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button:last-child{
    border-radius:0 5px 5px 0;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button:not(:last-child){
    border-right: 1px solid #eee;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button .tl-item-menu-button-tooltip{
    background-color: #fff;
    color: #0095FF;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    padding: 5px;
    white-space: pre;
    pointer-events: none;
    display: none;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button .tl-item-menu-button-tooltip::before{
    content:'';
    position: absolute;
    left:5px;
    bottom: 100%;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button:hover{
    color: #fff;
    background-color:#0095FF;
}

.timeline .tl-item .tl-item-menu .tl-item-menu-button:hover .tl-item-menu-button-tooltip{
    display: flex;
}

.timeline .tl-item .tl-item-content{
    margin: 0 0.5rem;
    display: flex;
    flex:1;
    align-items: center;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars .tl-item-avatar{
    border-radius: 50%;
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;

}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars .tl-item-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars-menu .tl-item-avatars-menu-item{
    background-color: #fff;
    color:#0095FF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border-radius: 50%;
    font-size: 2rem;
}

.timeline .tl-item .tl-item-content .tl-item-avatars-wrap .tl-item-avatars-menu .tl-item-avatars-menu-item:hover{
    background-color: #0095FF;
    color:#fff;
}

.timeline .tl-item .tl-item-content .tl-item-time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0.5rem;
    position: relative;
    height: 100%;
}

.timeline .tl-item .tl-item-content .tl-item-time:before{
    position: absolute;
    content:"";
    width: 1px;
    height: 100%;
    top:0;
    left:50%;
    background-image: linear-gradient(0deg, transparent 25%, var(--timeline-item-time-dash-color) 25%, var(--timeline-item-time-dash-color) 50%, transparent 50%, transparent 75%, var(--timeline-item-time-dash-color) 75%, var(--timeline-item-time-dash-color) 100%);
    background-size: 20.00px 20.00px;
}

.timeline .tl-item:last-child .tl-item-content .tl-item-time:before{
    height: 50%;
}

.timeline .tl-item .tl-item-content .tl-item-time .tl-item-time-wrap{
    background-color: var(--timeline-item-time-bg);
    color:var(--timeline-item-time-color);
    padding: 0.25rem 0.5rem;
    position: relative;
    font-size: 1rem;
}
.timeline .tl-item .tl-item-content .tl-item-time .tl-item-time-wrap .tl-item-time-content{
    color:inherit;
    font-size: inherit;
    position: absolute;
}

.timeline .tl-item .tl-item-content .tl-item-time .tl-item-time-wrap .tl-item-time-placeholder{
    color:transparent;
    font-size: inherit;
    opacity: 0;
}

.timeline .tl-item .tl-item-content .tl-item-info{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: var(--timeline-item-bg);
    overflow: hidden;
    margin: var(--timeline-item-spacing) 0;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-header{
    background-color: var(--timeline-item-header-bg);
    padding: 5px;
    color:var(--timeline-item-header-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-header span{
    font-size: inherit;
    font-size: inherit;
    color:inherit;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timeline.edit .tl-item .tl-item-content .tl-item-info .tl-item-img:hover .tl-item-img-menu{
    display: flex;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img img{
    width: 100%;
    height: auto;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu{
    display: none;
    position: absolute;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu.static{
    display: flex;
    position: relative;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    color:#0095FF;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button.loading i{
    display: none;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button .loader{
    display: none;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button.loading .loader{
    display: flex;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-img .tl-item-img-menu .tl-item-img-menu-button:hover{
    color: #fff;
    background-color:#0095FF;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-desc{
    padding: 5px;
    background-color: var(--timeline-item-desc-bg);
    color:var(--timeline-item-desc-color);
    font-size: 1.2rem;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-desc span{
    color:inherit;
    white-space: pre-line;
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-cta{
    padding: 5px;
    background-color:var(--timeline-item-cta-bg);
    color:var(--timeline-item-cta-color);
}

.timeline .tl-item .tl-item-content .tl-item-info .tl-item-cta span{
    color:inherit;
}

.timeline .tl-item .tl-item-content .tl-item-click{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    cursor: pointer;
}